
# ── Database ──────────────────────────────────────────────────
DATABASE_URL=postgresql://neondb_owner:npg_0xOpmUlaAYk6@ep-purple-tooth-aoc3c6hq-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=true&channel_binding=require

# ── Better Auth ───────────────────────────────────────────────
BETTER_AUTH_URL=https://overhostilely-gnawable-gladys.ngrok-free.dev
BETTER_AUTH_SECRET=
BETTER_AUTH_API_KEY=ba_83941e0dcdhsirartd4czia09gjd8cuq

# ── Better Auth Infra (wajib untuk dash + sentinel) ───────────
# Tidak perlu diisi manual — sudah di-handle otomatis oleh BETTER_AUTH_API_KEY
# Tapi kalau mau eksplisit:
# BETTER_AUTH_API_URL=https://api.better-auth.com
# BETTER_AUTH_KV_URL=https://kv.better-auth.com

# ── Client (Vite/TanStack) ────────────────────────────────────
VITE_APP_URL=http://localhost:3000

# ── Google OAuth ──────────────────────────────────────────────
GOOGLE_CLIENT_ID=isi_id_di_sini
GOOGLE_CLIENT_SECRET=isi_secret_di_sini

# ── GitHub OAuth ──────────────────────────────────────────────
GITHUB_CLIENT_ID=Ov23liJjFRzCHiztGLTL
GITHUB_CLIENT_SECRET=5d25aca22e8b351f9a54a5c9f3f7b2fb4032b4a3

# ── Cloudinary ────────────────────────────────────────────────
CLOUDINARY_CLOUD_NAME=coinmember
CLOUDINARY_API_KEY=455414515455385
CLOUDINARY_API_SECRET=Gt9AgoWGnvq_yRWFhD6FKVpxQLU